<ul class="list-group" id="<%= dom_id friend %>">
<li class="list-group-item">
    <strong>First name:</strong>
    <%= friend.first_name %>
  </li>

  <li class="list-group-item">
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </li>
    

    <li class="list-group-item">
    <strong>Email:</strong>
    <%= friend.email %>
  </li>

  <li class="list-group-item">
    <strong>Phone:</strong>
    <%= friend.phone %>
  </li>

  <li class="list-group-item">
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </li>

  <li class="list-group-item">
    <strong>User Id:</strong>
    <%= friend.user_id %>
  </li>

  <li class="list-group-item">
  <%= link_to "Show  Friend", friend, class:"btn btn-primary btn-sm"%>

  </li>
</ul>
