<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
<br />
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary btn-sm" %> 
  <%= link_to "Back", friends_path, class:"btn btn-dark btn-sm" %>

  <%= button_to "Destroy this friend", @friend, method: :delete %>
</div>
